.column-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    flex-wrap: wrap;
    row-gap: 110px;
}
.row-container {
    width: 100%;
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}
.row-container__body {
    flex-wrap: wrap-reverse;
}
.menu-content {
    margin: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0px;
    flex:1 ;
    justify-content: left;
}

.menu-content__nav {
    display: flex;
    flex: 4;
    justify-content:center;
    column-gap: 50px;
}
.menu-content__logo {
    padding-left: 80px;
}
.menu-content__signup {
    padding-right: 68px;
    flex: 2;
    justify-content: flex-end;
    column-gap: 50px;
}
.column-container__txt{
    flex-direction: column;
    flex: 8;
    row-gap: 50px;
    padding-left: 200px;
   /* padding-right: 120px;*/
    display: flex;
}
.column-container__img {
    flex: 1;
    padding-right: 94px;
    padding-left: 40px;
}

.logo-font {
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: Bold;
    font-size: 30px;
    letter-spacing: -0.02em;
    color: #0A1B32;
}
.logo-dot-font {
    color: #4F56F1;
}

.btn-style {
    background-color: #4F56F1;
    border-radius: 6px;
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */
    text-align: center;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    width: 120px;
    height: 60px;
    border: none;
}
.nav-style {
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.02em;
    color: #1B0A42;
    display: inline;
    text-decoration: none;
}

.login-style {
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */
    text-align: center;
    letter-spacing: 0.02em;
    color: #1B0A42;
    margin: 48px 0px 0px 20px;
    text-decoration: none;
}

.main-title {
    width: 100%;
    font-family: Ramaraja;
    font-style: normal;
    font-weight: normal;
    font-size: 65px;
    line-height: 65px;
    /* or 106% */
    letter-spacing: 0.02em;
    color: #1B0A42;
    margin: 0;
}
.main-info {
    max-width: 583px;
    width: 100%;
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 32px;
    /* or 160% */
    letter-spacing: 0.02em;
    color: #9A9A9A;
    margin: 0;
}

